<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login" method="post">
        {{if user:}}
        <label for="username-input">username</label>
        <input id="username-intpu" name="username" type="text">

        <label for="password-input">Password</label>
        <input id="password-intpu" name="password" type="text">
        {{else:}}
        <h1>Logged in</h1>
        <label for="username-input">username</label>
        <input id="username-intpu" name="username" type="text" value="{{user['username']}}">

        <label for="password-input">Password</label>
        <input id="password-intpu" name="password" type="text" value="{{user['password']}}">
        {{endif}}
        <button type="submit">Submit</button>
    </form>

</body>

</html>