<!DOCTYPE HTML>

<html>

<head>
	<title>Login</title>
</head>

<body>
	<div class="container">
		<h1>Login</h1>
		<form method="POST" action="{{url_for('login')}}">
			{{ form.csrf_token }}
			{{ form.email.label }} <br> {{ form.email(size=30) }} <br>
			{{ form.password.label }} <br> {{ form.password(size=30) }} <br>
			{%for err in form.password.erros%}
			<span>{{err}}</span>
			{% endfor %}

			{%for err in form.email.erros%}
			<span>{{err}}</span>
			{% endfor %}

			{{form.submit}}

			<!-- <input type="submit" value="Go"> -->
		</form>
		<!-- This is where our form will go. -->
	</div>
</body>

</html>